################################################################################
# Never commit compilation (by-)products and machine-specific settings.        #
################################################################################
.*
!.env.example
!.gitignore
!.gitattributes
!.htaccess
