{include shared_top_before_head_end.tpl.html}
<script src="/static/js/create_event.js"></script>
{include shared_top_head_end.tpl.tpl.html}
<h1>Create Event</h1>
<form method="post" enctype="multipart/form-data">
	<div class="narrow-form">
		<p>
			<label for="name">Name:</label><br>
			<input type="text" id="name" name="name" maxlength="64" required>
		</p>
		<p>
			<label for="description">Description:</label><br>
			<textarea id="description" name="description" rows="6" maxlength="1024" required></textarea>
		</p>
		<p>
			<label for="startDate">Start date:</label><br>
			<input type="date" id="startDate" name="startDate" required/><br>
			<small>Has to be in the future</small>
		</p>
		<p>
			<label for="endDate">End date:</label><br>
			<input type="date" id="endDate" name="endDate" required/><br>
			<small>Has to be in the future and the same day or later then the start date</small>
		</p>
		<p>
			<label for="heroImage">Hero image:</label><br>
			<input type="file" id="heroImage" name="heroImage" accept="image/png, image/jpeg" required/>
		</p>
		<div class="margin-top-md margin-bottom-md">
			<label>Workshops:</label>
			<div id="workshop-container" class="workshop-container">
				<input type="text" name="workshop[]" required/>
			</div>
			<button type="button" class="btn" id="add-workshop-button">+ Add Workshop</button>
		</div>
		<button type="submit" class="btn">
			Create Event
		</button>
	</div>
</form>
{include shared_bottom.tpl.html}
