{include shared_top.tpl.html}
<h1 class="margin-bottom-lg">Event Details</h1>
<div>
	<div class="event-details-display">
		<b>{= $event['name']}</b>
		<img class="hero-img" alt="Event hero image" src="{= BASE_URL}/data/{= $event['hero_img_name']}">
		<span><b>Description:</b></span>
		<span>{= $event['description']}</span>
		<span><b>Start date:</b> {= $event['start_date']}</span>
		<span><b>End date:</b> {= $event['end_date']}</span>
		<span><b>Organizer:</b> {= $event['owner_full_name']}</span>
		<span><b>Workshops:</b></span>
		<ul>
			{foreach $event['workshops'] as $workshop}
				<li>{= $workshop['name']}</li>
			{/foreach}
		</ul>
		{if $isLoggedIn}
			<div class="links-display">
				{if $isEventOwner}
					<a class="btn-link" href="{= BASE_URL}/events/{= $event['event_id']}/edit">Edit →</a>
				{/if}
				{if !$isEventOwner}
					{if $isBannedFromEvent}
						<span>You are banned from this event!</span>
					{/if}
					{if !$isBannedFromEvent}
						{if !$isRegisteredToEvent}
							<a class="btn-link" href="{= BASE_URL}/events/{= $event['event_id']}/register">Register →</a>
						{/if}
						{if $isRegisteredToEvent}
							<a class="btn-link" href="{= BASE_URL}/events/{= $event['event_id']}/register/edit">Edit Registration →</a>
						{/if}
					{/if}
				{/if}
			</div>
		{/if}

		{if $isEventOwner}
			<h2 class="margin-top-lg">Manage Attendees</h1>
			{if count($registeredUsers) > 0}
			<ul>
				{foreach $registeredUsers as $registeredUser}
					<li>
						<div class="manage-attendees-item">
							{= $registeredUser['full_name']}
							<form method="post" action="{= BASE_URL}/events/{= $event['event_id']}/kick/{= $registeredUser['user_id']}" onsubmit="return confirm('Are you sure you want to kick user \'{= $registeredUser['full_name']}\' from this event?');">
								<button type="submit" class="btn btn-sm">
									Kick
								</button>
							</form>
							<form method="post" action="{= BASE_URL}/events/{= $event['event_id']}/ban/{= $registeredUser['user_id']}" onsubmit="return confirm('Are you sure you want to ban user \'{= $registeredUser['full_name']}\' from this event?');">
								<button type="submit" class="btn btn-sm btn-danger">
									Ban
								</button>
							</form>
						</div>
					</li>
				{/foreach}
			</ul>
			{/if}
			{if count($registeredUsers) === 0}
			<span><b>There are currently no registered users!</b></span>
			{/if}
		{/if}
	</div>
</div>


{include shared_bottom.tpl.html}
