{include shared_top.tpl.html}
<h1 class="margin-bottom-md">My Events</h1>
<div class="margin-bottom-md">
	{if !$showOldEvents}
		<a class="btn-link" href="/events/mine?old=1">Show past events</a>
	{/if}
	{if $showOldEvents}
		<a class="btn-link" href="/events/mine?old=0">Hide past events</a>
	{/if}
</div>
<h2 class="margin-bottom-none margin-top-none">Registered For:</h2>
{if count($registeredEvents) > 0}
<div class="event-display-container margin-top-md">
	{foreach $registeredEvents as $event}
		<div class="event-details-display {if $event['old']}old{/if}">
			<b>{= $event['name']}</b>
			<img class="hero-img" alt="Event hero image" src="{= BASE_URL}/data/{= $event['hero_img_name']}">
			<span><b>Description:</b></span>
			<span>{= $event['description']}</span>
			<span><b>Start date:</b> {= $event['start_date']}</span>
			<span><b>End date:</b> {= $event['end_date']}</span>
			<span><b>Organizer:</b> {= $event['owner_full_name']}</span>
			{if count($event['workshops']) > 0}
			<span><b>Your Workshops:</b></span>
			<ul>
				{foreach $event['workshops'] as $workshop}
					<li>{= $workshop['name']}</li>
				{/foreach}
			</ul>
			{/if}
			{if count($event['workshops']) === 0}
			<span><b>You Aren't Registered For Any Workshops!</b></span>
			{/if}
			<div class="links-display">
				<a class="btn-link" href="/events/{= $event['event_id']}/register/edit">Edit Registration →</a>
			</div>
		</div>
	{/foreach}
</div>
{/if}
{if count($registeredEvents) === 0}
{if !$showOldEvents}
<p>There are no recents events you are registered for!</p>
{/if}
{if $showOldEvents}
<p>There are currently no events you are registered for!</p>
{/if}
<div class="btn-cont">
	<a href="/events" class="btn-link btn-link-sm">See All Events Here →</a>
</div>
{/if}

<h2 class="margin-bottom-none margin-top-lg">Created By You:</h2>
{if count($ownedEvents) > 0}
<div class="event-display-container margin-top-md">
	{foreach $ownedEvents as $event}
		<div class="event-details-display {if $event['old']}old{/if}">
			<b>{= $event['name']}</b>
			<img class="hero-img" alt="Event hero image" src="{= BASE_URL}/data/{= $event['hero_img_name']}">
			<span><b>Description:</b></span>
			<span>{= $event['description']}</span>
			<span><b>Start date:</b> {= $event['start_date']}</span>
			<span><b>End date:</b> {= $event['end_date']}</span>
			<span><b>Organizer:</b> {= $event['owner_full_name']}</span>
			<span><b>Workshops:</b></span>
			<ul>
				{foreach $event['workshops'] as $workshop}
					<li>{= $workshop['name']}</li>
				{/foreach}
			</ul>
			<div class="links-display">
				<a class="btn-link" href="/events/{= $event['event_id']}/edit">Edit →</a>
			</div>
		</div>
	{/foreach}
</div>
{/if}
{if count($ownedEvents) === 0}
{if !$showOldEvents}
<p>You haven't created any events recently!</p>
{/if}
{if $showOldEvents}
<p>You haven't created any events yet!</p>
{/if}
<div class="btn-cont">
	<a href="/events/new" class="btn-link btn-link-sm">Create an Event Here →</a>
</div>
{/if}

{include shared_bottom.tpl.html}
