{include shared_top.tpl.html}
<h1>Register</h1>
<form method="post">
	<div class="narrow-form">
		<p>
			<label for="email">E-mail:</label><br>
			<input type="email" id="email" name="email" maxlength="255" required>
		</p>
		<p>
			<label for="fullName">Full name:</label><br>
			<input type="text" id="fullName" name="fullName" maxlength="255" required>
		</p>
		<p>
			<label for="password">Password</label><br>
			<input type="password" id="password" name="password" maxlength="255"><br>
			<small>Password is optional and not used for authentication. It is only stored in the database in plain text to make the DB leaks a little more interesting.</small>
		</p>
		<p>
			<input type="checkbox" id="tosAgree" name="tosAgree" required>
			<label for="tosAgree">I Agree with the <a href="/tos" target="_blank">Terms of Service</a> and Accept My Fate</label>
		</p>
		<button type="submit" class="btn">
			Register
		</button>
	</div>
</form>
{include shared_bottom.tpl.html}
